<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinfosec.dao.DataClearDao">

    <select id="getRunningTasks" resultType="com.spinfosec.dao.entity.SpTask">
        SELECT * FROM sp_task WHERE result = 'RUNNING' AND isLast = '1'
    </select>

    <select id="execNativeSql">
        ${sql}
    </select>

</mapper>