<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinfosec.dao.common.ValidationDao">

    <select id="duplicate" parameterType="com.spinfosec.dto.pojo.common.ValidationBean" resultType="java.lang.String">
        SELECT ${checkName} FROM ${entityName} WHERE 1 = 1
        <if test="checkValue != null and checkValue != ''">
            AND ${checkName} = #{checkValue}
        </if>
        <if test="pkName != null and pkName !='' and pkValue != null and pkValue != ''">
            AND ${pkName}
            <![CDATA[!=]]>
            #{pkValue}
        </if>
        <if test="conditions  != null">
            <foreach item="value" index="key" collection="conditions.entrySet()">
              AND ${key} = #{value}
            </foreach>
        </if>
    </select>

    <select id="findRolesIsUsed" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        a.ID
        FROM
        sp_admins a,
        sp_roles r,
        sp_role_admin_relation ra
        WHERE a.ID = ra.ADMIN_ID
        AND r.ID = ra.ROLE_ID
        AND r.ID = #{roleId}
        AND a.ACCOUNT_IS_DISABLED <![CDATA[!=]]> '1';
    </select>

    <select id="findHostIsUsed" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        a.ID
        FROM
        sp_admins a,
        sp_admin_host_setting h,
        sp_admin_trust_host ah
        WHERE a.ID = ah.ADMIN_ID
        AND h.ID = ah.HOST_ID
        AND h.ID = #{hostId}
        AND a.ACCOUNT_IS_DISABLED <![CDATA[!=]]> '1';
    </select>

    <select id="findOrgIsUsed" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        a.ID
        FROM
        sp_admins a,
        sp_org_unit_dict o,
        sp_org_admin_relation oa
        WHERE
        a.ID = oa.ADMIN_ID
        AND o.ID = oa.ORG_ID
        AND o.ID = #{orgId}
        AND a.ACCOUNT_IS_DISABLED <![CDATA[!=]]> '1';
    </select>
</mapper>